<div class="row">
    <div class="col-4">
        <div class="card">
            <img src="{{friend.photoUrl || './assets/user.png'}}" alt="{{friend.alias}}"
            class="card-img-top img-thumbnail">
            <div class="card-body">
                <div>
                    <strong>Location: </strong>
                    <p>
                        {{friend.city}},{{friend.country}}
                    </p>
                </div>
                <div>
                    <strong>Age: </strong>
                    <p>
                        {{friend.age}}
                    </p>
                </div>
                <div>
                    <strong>Last Active: </strong>
                    <p>
                        {{friend.lastActive | date}}
                    </p>
                </div>
                <div>
                    <strong>Member Since: </strong>
                    <p>
                        {{friend.created | date: 'longDate'}}
                    </p>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button class="btn btn-primary">Like</button>
                    <button (click)="selectTab('Messages')" class="btn btn-success">Message</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-8">
       <tabset class="member-tabset" #memberTabs> 
            <tab heading="About {{friend.alias}}" (selectTab)="onTabActivated($event)">
                <h4>Description</h4>
                <p>{{friend.introduction}}</p>
            </tab>
            <tab heading="Interests" (selectTab)="onTabActivated($event)">
                <h4>Interests</h4>
                <p>{{friend.hobbies}}</p>
            </tab>  
            <tab heading="Photos" (selectTab)="onTabActivated($event)">
              <ngx-gallery [options]="galleryOptions" [images]="galleryImages"
              class="ngx-gallery"></ngx-gallery>
            </tab>
            <tab heading="Messages" (selectTab)="onTabActivated($event)">
                <app-member-messages [messages]="messages" [userName]="friend.userName"></app-member-messages>
            </tab>
       </tabset> 
    </div>
</div>